# This is a basic workflow to help you get started with Actions

name: Node.js Package
on:
  release:
    types: [created]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # OIDC トークンを発行する権限を付与
    permissions:
      contents: read
      id-token: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # npm に公開するように .npmrc ファイルを設定する
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Upgrade npm to v11+ for OIDC support
        run: npm install -g npm@latest

      - name: Check npm version
        run: npm --version

      - run: npm install
      - run: npm publish --provenance --access public
